## Surprise Lib

In [2]:
import pandas as pd
import surprise as sp
import numpy as np

In [3]:
df_actors = pd.read_csv('./data/movie_actors.csv')
df_countries = pd.read_csv('./data/movie_countries.csv')
df_directors = pd.read_csv('./data/movie_directors.csv')
df_genres = pd.read_csv('./data/movie_genres.csv')
df_imdb = pd.read_csv('./data/movie_imdb.csv')
df_locations = pd.read_csv('./data/movie_locations.csv')
df_tags = pd.read_csv('./data/movie_tags.csv')
df_rottem = pd.read_csv('./data/movies_rt.csv')
df_movies = pd.read_csv('./data/movies.csv')
df_ratings = pd.read_csv('./data/ratings_train.csv')
df_profile = pd.read_csv('./data/profile_by_user.csv')

df_test = pd.read_csv('./data/ratings_test.csv')

In [5]:
df_ratings.head()

,ID,userID,movieID,rating,date_day,date_month,date_year,date_hour,date_minute,date_second
0,1,51198,608,5.0,17,9,1997,23,40,20
1,2,51198,141,4.0,17,9,1997,23,41,58
2,3,51198,1073,4.0,17,9,1997,23,41,6
3,4,51198,356,4.0,17,9,1997,23,43,44
4,5,51198,1198,5.0,17,9,1997,23,44,35

In [10]:
reader = sp.reader.Reader(rating_scale=(0.5 ,5))
data = sp.dataset.Dataset.load_from_df(df_ratings[['userID', 'movieID', 'rating']], reader)

In [16]:
#algo = sp.NormalPredictor()
sim_options = {
    'name': 'cosine',
    'user_based': True #False
}
algo = sp.prediction_algorithms.knns.KNNBasic(k=40, min_k=1, sim_options=sim_options)
sp.model_selection.validation.cross_validate(algo, data, measures=['rmse', 'mae'], cv=5, n_jobs=-1)

{'test_rmse': array([0.87867087, 0.88187263, 0.87675764, 0.87677916, 0.8815531 ]),
 'test_mae': array([0.665235  , 0.66794612, 0.66393094, 0.66508366, 0.66748196]),
 'fit_time': (12.485573530197144,
  13.0160813331604,
  13.254046201705933,
  12.795851469039917,
  12.402621746063232),
 'test_time': (32.74526333808899,
  32.2389190196991,
  32.28514099121094,
  31.981017351150513,
  32.220481157302856)}