## Surprise Lib

In [1]:
import pandas as pd
import surprise as sp
import numpy as np

In [2]:
df_ratings = pd.read_csv('./data/ratings_train.csv')
df_test = pd.read_csv('./data/ratings_test.csv')

In [3]:
df_ratings.head()

,ID,userID,movieID,rating,date_day,date_month,date_year,date_hour,date_minute,date_second,mean_rating,similarity
0,1,51198,608,5.0,17,9,1997,23,40,20,4.020387,0.467004
1,2,51198,141,4.0,17,9,1997,23,41,58,3.406467,0.221270
2,3,51198,1073,4.0,17,9,1997,23,41,6,3.689828,0.451960
3,4,51198,356,4.0,17,9,1997,23,43,44,3.931526,0.460080
4,5,51198,1198,5.0,17,9,1997,23,44,35,4.136558,0.317708

In [4]:
reader = sp.reader.Reader(rating_scale=(0.5 ,5))
data = sp.dataset.Dataset.load_from_df(df_ratings[['userID', 'movieID', 'rating']], reader)

In [5]:
#algo = sp.NormalPredictor()
sim_options = {
    'name': 'cosine',
    'user_based': True #False
}
algo = sp.prediction_algorithms.knns.KNNBasic(k=40, min_k=1, sim_options=sim_options)
sp.model_selection.validation.cross_validate(algo, data, measures=['rmse', 'mae'], cv=5, n_jobs=-1, verbose=True)

Evaluating RMSE, MAE of algorithm KNNBasic on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.8800  0.8766  0.8779  0.8782  0.8825  0.8790  0.0020
MAE (testset)     0.6672  0.6637  0.6653  0.6652  0.6679  0.6659  0.0015
Fit time          12.73   13.15   13.41   13.20   13.09   13.11   0.22
Test time         33.76   33.17   33.51   33.48   33.45   33.47   0.19

{'test_rmse': array([0.88000921, 0.87659456, 0.87789716, 0.87819671, 0.88248591]),
 'test_mae': array([0.66718252, 0.66369206, 0.66533621, 0.66522178, 0.66788596]),
 'fit_time': (12.728199481964111,
  13.154648065567017,
  13.405740976333618,
  13.196197032928467,
  13.08791184425354),
 'test_time': (33.75991654396057,
  33.174225091934204,
  33.5107638835907,
  33.4809308052063,
  33.44758415222168)}