In [2]:
import pandas as pd
from tqdm import tqdm

In [3]:
js_train = pd.read_json('./data/train_dataset.jl', lines=True)

In [14]:
df = js_train.head()
df.insert(0, 'user_id', range(len(df)))
df

   user_id                                       user_history  item_bought
0        0  [{'event_info': 1786148, 'event_timestamp': '2...      1748830
1        1  [{'event_info': 643652, 'event_timestamp': '20...       228737
2        2  [{'event_info': 248595, 'event_timestamp': '20...      1909110
3        3  [{'event_info': 'RADIOBOSS', 'event_timestamp'...      1197370
4        4  [{'event_info': 'AMAZFIT BIP', 'event_timestam...      2049207

In [1]:
df_event_user = pd.DataFrame()
for row in tqdm(df.head().itertuples()):
    df_temp = pd.DataFrame(row.user_history)
    df_temp.insert(0, 'user_id', [row.user_id]*len(df_temp))
    df_event_user = df_event_user.append(df_temp)

NameError: name 'pd' is not defined

In [36]:
df_event_user

    user_id          event_info               event_timestamp event_type
0         0             1786148  2019-10-19T11:25:42.444-0400       view
1         0             1786148  2019-10-19T11:25:57.487-0400       view
2         0  RELOGIO SMARTWATCH  2019-10-19T11:26:07.063-0400     search
3         0             1615991  2019-10-19T11:27:26.879-0400       view
4         0             1615991  2019-10-19T11:28:36.558-0400       view
..      ...                 ...                           ...        ...
64        4         FONE XIAOMI  2019-09-30T14:48:57.112-0400     search
65        4               86082  2019-09-30T14:48:59.704-0400       view
66        4               86082  2019-09-30T14:53:01.640-0400       view
67        4         FONE XIAOMI  2019-09-30T14:53:01.883-0400     search
68        4         GALAXY BUDS  2019-09-30T14:53:03.520-0400     search

[116 rows x 4 columns]

In [95]:
df_event_user.merge(df[['user_id', 'item_bought']], left_on='user_id', right_on='user_id')

,user_id,event_info,event_timestamp,event_type,item_bought
0,0,1786148,2019-10-19T11:25:42.444-0400,view,1748830
1,0,1786148,2019-10-19T11:25:57.487-0400,view,1748830
2,0,RELOGIO SMARTWATCH,2019-10-19T11:26:07.063-0400,search,1748830
3,0,1615991,2019-10-19T11:27:26.879-0400,view,1748830
4,0,1615991,2019-10-19T11:28:36.558-0400,view,1748830
...,...,...,...,...,...
111,4,FONE XIAOMI,2019-09-30T14:48:57.112-0400,search,2049207
112,4,86082,2019-09-30T14:48:59.704-0400,view,2049207
113,4,86082,2019-09-30T14:53:01.640-0400,view,2049207
114,4,FONE XIAOMI,2019-09-30T14:53:01.883-0400,search,2049207
115,4,GALAXY BUDS,2019-09-30T14:53:03.520-0400,search,2049207

In [97]:
df

   user_id                                       user_history  item_bought
0        0  [{'event_info': 1786148, 'event_timestamp': '2...      1748830
1        1  [{'event_info': 643652, 'event_timestamp': '20...       228737
2        2  [{'event_info': 248595, 'event_timestamp': '20...      1909110
3        3  [{'event_info': 'RADIOBOSS', 'event_timestamp'...      1197370
4        4  [{'event_info': 'AMAZFIT BIP', 'event_timestam...      2049207