# Challenge MeLi

In [1]:
import pandas as pd
from tqdm import tqdm, tqdm_notebook, tqdm_gui, tqdm_pandas
import numpy as np
import time

In [2]:
df_train = pd.read_csv('./data/03_primary/train_dataset.csv')

In [3]:
df_train.head()

,user_id,event_info,event_timestamp,event_type,item_bought
0,0,1786148,2019-10-19T11:25:42.444-0400,view,1748830
1,0,1786148,2019-10-19T11:25:57.487-0400,view,1748830
2,0,RELOGIO SMARTWATCH,2019-10-19T11:26:07.063-0400,search,1748830
3,0,1615991,2019-10-19T11:27:26.879-0400,view,1748830
4,0,1615991,2019-10-19T11:28:36.558-0400,view,1748830